.nav {
    padding-left: 28px;
}

body {
    background-color: black;
}


.A {
    background-color: white;
    height: auto;
}
.A1 {
    background-color: white;
    height: 700px;
}


h1 {
    font-size: 80px;
    text-align: center;
    padding-top: 30%;
}

.B{
    padding-left: 140px;
    text-align: center;
}
.C{
    padding-left: 140px;
    margin-top: 10px;
}
.ID{
    margin-top: 50px;
    margin-left: 50px;
}
.text1{
    color: black;
    font-size: 45px;
    margin-top: 20px;
}
.text2{
    margin-left: 95px;
}
.text3{
    margin-left: 150px;
}

.text4{
    font-size: 45px;
    margin-left: 150px;
}

.test1{
    margin-top: 100px;
}
.pt{
    height: 250px;
    width:  250px;
    margin-top: 20px;
    margin-left: 95px;
}
