.nav {
    padding-left: 28px;
}
body {
    background-color: black;
    font-size: 14px;
}
.a{
    margin-left: 50px;
}
.A1 {
    background-color: white;
    height: auto;
    width: 100%;
    position: absolute;

}
.A2 {
    background-color: white;
    height: 750px;
    width: 100%;
    padding: 20px 20px 20px 20px;

}
.A3 {
    background-color: white;
    height: 750px;
    width: 100%;
    margin-top: 100px;
}

h1 {
    font-size: 80px;
    text-align: center;
    padding-top: 30%;
}

.test1{
    margin-top: 100px;
}
.pt{
    height: 150px;
    width:  auto;
    margin-top: 20px;
    margin-left: 95px;
}
.pt1{
    height: 550px;
    width:  auto;
    margin-top: 50px;
    margin-left: 85px;
}
.pt2{
    margin-top: 50px;
    margin-left: 85px;
}
.text1 {
    width: 252px;
    color: black;
    top: 417px;
    font-family: Sriracha;
    font-size: 50px;
    margin-top: 50px;
}
.meAbout1 {
    width: 300px;
    color: black;
    left: 750px;
    font-family: Sriracha;
    font-size: 25px;
    text-align: left;
}
.meAbout2 {
    font-family: Sriracha;  
    font-size: 35px;
    text-align: left;
}
.About pre{
    font-family: Sriracha;
    font-size: 25px;
    font-weight: lighter;
}
.History {
    width: 750px;
    color: black    ;
    top: 120px;
    left: 80px;
    font-family: Sriracha;  
    font-size: 48px;
    text-align: left;
    margin-left: 50px;
}
.im{
    margin: 0%;
    padding: 0px 0px 0px 0px;
    background-color: white;
    font-family: Sriracha;
}
.abme{
    margin: 0%;
    padding: 20px 0px 20px 100px;
    background-color: white;
    font-family: Sriracha;
}